 // Setup default for Print
a::after {
  content: '';
}

a[href]::after {
  content: none;
}

a {
  page-break-inside: avoid;
  text-decoration: none;
  color: #000;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: visible;
  overflow-y: visible;
  background: #fff;
  color: #000;
}

#content,
body,
html,
.container {
  width: 100%;
  margin: 0;
  float: none;
  padding: 0;
  max-width: none;
}

.col-md-5,
.col-md-6,
.col-md-9,
.col-md-11,
.col-5,
.col-6,
.col-7 {
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
}

#header {
  position: relative;
  text-align: center;
  background-color: transparent;
  .col-md-2,
  .col-md-3,
  .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
  .logo {
    position: relative;
    left: 0;
    right: 0;
    text-align: center;
    max-width: 100%;
    width: 100%;
    a {
      max-width: 100%;
      width: 100%;
      margin: 0 auto;
      display: block;
      text-align: center;
    }
    img {
      filter: invert(100%);
    }
  }
}

.mess-print{
  padding: 40px 10px;
  font-size: 30px;
  text-align: center;
}

#main-content {
  padding-top: 0;
}

body,
p,
li,
.page-home {
  font-size: 1.2rem;
}

h1,
.h1 {
  font-size: 3.2rem;
}

h2,
.h2 {
  font-size: 2.8rem;
}

h3,
.h3 {
  font-size: 2.2rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.2rem;
}

h6,
.h6 {
  font-size: 1rem;
}

blockquote {
  page-break-inside: avoid;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  page-break-after: avoid;
  page-break-inside: avoid;
  margin-top: 0;
  margin-bottom: 15px;
}

img {
  page-break-inside: avoid;
  page-break-after: avoid;
  max-width: 700px;
}

table,
pre {
  page-break-inside: avoid;
}

ul,
ol,
dl {
  page-break-before: avoid;
}

.embed-responsive {
  position: absolute;
  height: 0;
  overflow: hidden;
}

.btn,
.btn-border,
.read-more,
.mod-form,
#header .col-menu,
.skip-link,
.rotation-wrapper,
.controls
.popup-is-close, .mod-popup:not(.popup-show) {
  display: none;
}

address,
dt,
dd,
blockquote {
  font-size: 1.2rem;
}

code,
pre {
  font-family: 'Courier New', Courier, mono, sans-serif;
}

ul,
ol {
  list-style: circle;
  margin-left: 18pt;
  margin-bottom: 20pt;
}

div,
section,
p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  opacity: 1;
  width: auto;
  transform: none;
  height: auto;
  position: static;
}

.navbar-expand-lg,
#header-logo .d-lg-none,
#footer,
.breadcrumb,
.form-group,
.pagination,
.social,
#modal,
.hamburger-menu,
.form-contact {
  display: none;
}
button {
  @apply hidden;
}

// setup for slick module
.slick-track {
  display: table !important;
}

.slick-slider .slick-list,
.slick-slider .slick-track,
.slick-slider .slick-slide {
  width: auto !important;
  height: auto !important;
  transform: none !important;
  overflow: visible !important;
  -o-transform: none !important;
  -webkit-transform: none !important;
}

.slick-arrow,
.slick-dots,
.btn-dots,
.slick-cloned,
.arrows,
.sr-only {
  display: none !important;
}

.slick-list .slick-slide:not(.slick-cloned) {
  display: inline-table;
}

.slick-slider .slick-slider {
  opacity: 1 !important;
  left: 0 !important;
}

// Code for modules
// hidden
.header-special .header-title,
.header-nav-mobile,
.mod-adjust .container .main .banner img,
.mod-10-milion img,
.mod-turn-your-bedroom a,
.mod-meet-the-quest a,
.mod-testimonials a,
.mod-testimonials .title-stars,
.mod-testimonials .items-footer,
.mod-scary-mommy .content-logo,
.mod-the-latest .container .main .title a,
.mod-connect,
.footer-sign-up .container .main .logo,
.footer-sign-up .container .main .input,
.footer-sign-up .container .main .contact .icons,
.header-nav-desktop .nav {
  @apply hidden;
}

// show
.header-nav-desktop .logo a img {
  @apply block mx-auto;
}
.mod-adjust {
  @apply h-290;
  .container .main {
    @apply flex flex-col-reverse pt-25;    
  }
  .container .main .banner img:nth-child(4) {
    @apply block;
  }
}
.mod-10-milion {
  @apply h-355;
  .content {
    @apply mb-50;
  }
}
.mod-meet-the-quest .item-image {
  @apply mb-20;
}
.mod-scary-mommy {
  @apply h-355;
  .frame-image {
    @apply h-295;
    .image img {
      @apply block;
    }
  }
  .content {
    @apply -mt-50;
  }
}
.mod-the-latest .container .main .box {
  .item {
    @apply h-295;
    .item-image {
      @apply mb-25;
    }
  }
}
.footer-sign-up {
  @apply mt-123;
  .container .main {
    .box-input {
      .title,
      .contact .phone {
        @apply text-center;
      }
    }
    .infor .row-header ul li:first-child {
      @apply -ml-10 list-none;
    }
    .infor .row-body {
      @apply py-25;
    }
  }
}