.footer-sign-up {
  .title h5 {
    @apply text-11.5 mb-14 md:mb-9 xl:text-9;
  }

  .row-header > ul > li > a > p,
  .row-body > p {
    @apply font-semibold text-9 text-gray-300
      md:-mb-5;
  }

  .row-header > ul > li:hover > a > p {
    @apply underline text-blue-300;
  }

  .shop,
  .learn,
  .support,
  .company {
    @apply w-full m-0 p-0 my-8
      md:w-1/2 2xl:w-1/2;
  }
  .shop {
    @apply xl:w-20p;
  }
  .company {
    @apply xl:w-15p;
  }
  .learn,
  .support {
    @apply xl:w-28p;
  }

  ul {
    list-style: none;
  }

  .container {
    .main {
      .box-input {
        .title {
          p {
            @apply font-semibold text-9;
          }
        }
        .input {
          a {
            transform: 0.25s;
            &:hover {
              scale: 1.3;
            }
          }
        }

        .contact {
          .phone {
            p {
              @apply text-15 md:text-12 font-medium m-0;
            }
          }
          .icons {
            a {
              @apply text-white text-15 md:text-11 xl:text-15;
              transition: 0.25s;
              :hover {
                scale: 1.3;
              }
            }
          }
        }
      }

      .infor {
        .row-header {
          @apply xl:gap-10;
        }
        .row-body {
          p {
            @apply text-gray-500;
          }
          p:nth-child(1) {
            @apply md:mr-11.5;
          }
          p:nth-child(2) {
            @apply md:mr-32.5;
          }
          p:nth-child(3) {
            @apply md:mr-40;
          }
        }

        .row-footer {
          p {
            @apply text-8 text-gray-500;
          }

          p:nth-child(1) {
            @apply mb-10;
          }
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  .footer-sign-up {
    .container {
      .main {
        .info {
          width: calc(100% - 478px);
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .footer-sign-up {
    .container {
      .main {
        .info {
          width: calc(100% - 650px);
        }
      }
    }
  }
}