@layer components {
  .col{
    @apply px-8;
  }
  .row{
    @apply flex flex-wrap -mx-8;
  }
  .bg{
    @apply bg-no-repeat bg-top bg-cover;
  }
  .transform-middle{
    top: 50%;
    transform: translateY(-50%);
  }
  .transform-center{
    left: 50%;
    transform: translateX(-50%);
  }
  .transform-center-middle{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  ._border {
    border: solid 1px;
  }
  
  .change-color {
    animation: animation-color 5s linear infinite alternate;
  }
  @keyframes animation-color {
    0% {color: #ccc;}
    10% {color: #1abc9c;}
    20% {color: #e67e22;}
    30% {color: #2980b9;}
    40% {color: #8e44ad;}
    50% {color: #2c3e50;}
    60% {color: #f1c40f;}
    70% {color: #bdc3c7;}
    80% {color: #e67e22;}
    90% {color: #1abc9c;}
    90% {color: #3498db;}
    100% {color: #34495e;}
  }
}

.text-inherit-child {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: inherit;
  }
  a:not(.btn) {
    color: inherit;
    @apply underline hover:no-underline;
  }
}

.last-mb-none {
  *:last-child{
    @apply mb-0;
  }
}

#__bs_notify__{
  display: none !important;
}