* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* For desktop (1920 * 1028) */
main {
  width: 1920px;
  height: 1080px;
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  padding: 70px 100px;
}

.content {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 150px 0 0 10px;
}

.content > h1 {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 91px;
  color: #1D2020;
  width: 90%;
}

.content > p {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #646464;
  width: 500px;
}

.images {
  width: 60%;
  height: 100%;
  position: relative;
}

.images > img:nth-child(1) {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-44%, -50%);
}

.images > img:nth-child(2) {
  width: 50%;
  height: 40%;
  position: absolute;
  left: -2%;
  bottom: 3%;
}

/* For desktop (1280 * 720)*/
@media (max-width: 1280px) {
  main {
    width: 1280px;
    height: 720px;
    gap: 20px;
    padding: 70px 50px;
  }
  
  .content {
    padding: 0;
    gap: 20px;
  }
  
  .content > h1 {
    margin-top: 20px;
    font-size: 32px;
    font-weight: 700;
    line-height: 140%;
    color: #1D2020;
  }

  .content > p {
    width: 100%;
  }

  .images > img:nth-child(1) {
    width: 80%;
    transform: translate(-38%, -50%);
  }
}

/* For tablet (768 * 1024)*/
@media (max-width: 768px) {
  main {
    flex-direction: column-reverse;
    width: 768px;
    height: 1024px;
    padding: 0;
  }

  .images {
    width: 100%;
    padding: 0;
    width: 100%;
  }

  .images > img:nth-child(1) {
    width: 80%;
    height: 80%;
    object-fit: cover;
    transform: translate(-45%, -50%);
  }

  .images > img:nth-child(2) {
    width: 30%;
    bottom: 50px;
  }

  .content {
    width: 100%;
    padding: 0 50px;
  }

  .content > h1 {
    font-size: 32px;
    font-weight: 700;
    margin-left: 20px;
  }

  .content > p {
    padding: 20px;
  }
}

/* For mobile (414 * 736)*/
@media (max-width: 414px) {
  main {
    width: 414px;
    height: 736px;
  }

  .images,
  .content {
    width: 100%;
    height: 50%;
  }

  .images > img:nth-child(1) {
    margin-top: 20px;
    width: 90%;
  }

  .images > img:nth-child(2) {
    width: 40%;
    height: 50%;
    left: -3%;
    bottom: -5.5%;
  }

  .content > h1 {
    font-size: 32px;
  }
}