---
author: Frontend Team
ourTeam: My Team
title: "Page cut"
---
<!-- {% extends 'layouts/application.html' %} -->
<!-- {% block bodyClass %}class="page-home has-animation"{% endblock %} -->

{% block content %}
<main id="main-content" class="main-content pt-50">
  {% include 'modules/mod-10-milion.html' %}
  {% include 'modules/mod-turn-your-bedroom.html' %}
  {% include 'modules/mod-meet-the-quest.html' %}
  {% include 'modules/mod-testimonials.html' %}
  {% include 'modules/mod-scary-mommy.html' %}
  {% include 'modules/mod-the-latest.html' %}
  {% include 'modules/mod-connect.html' %}
  {% include 'modules/mod-footer-sign-up.html' %}
</main>
{% endblock %}
