.mod-special {
  li {
    @apply cursor-pointer;
    &:hover {
      @apply text-blue-700;
    }
  }
  
  .content-hidden {
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.05);
    transition: 1s;
  }

  .left > li:hover > .content-hidden,
  .right > li:hover > .content-hidden {
    @apply flex;
  }
  
  p,
  span {
    @apply m-0 p-0;
  }

  .image > img {
    @apply w-full h-full;
  }

  .search-box {
    border: solid 1px #CDD9E3;
  }

  #our-brands > img {
    transition: 0.25s;
  }
  
  #our-brands:hover > img {
    transform: rotate(180deg);
  }

  .container > .main > .header-nav {
    .nav {
      .nav-above {
        .left {
          li {
            font-size: 20px;
          }
        }
        .right {
          li {
            .title {
              @apply hidden 2xl:block;
            }
          }
        }
      }

      .nav-bellow {
        .right {
          li {
            font-size: 21px;
            color: black;
          }
        }
      }
    }
  }
}